### Understanding the Input of the question

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
print(student_marks)

In [ ]:
name , *line = input().split()

The above line takes 2 variables (names) and (*lines) and splits them.

In [ ]:
scores = list(map(float, lines))

The above line creates a score variable which maps a list of float items from line.

In [ ]:
student_marks[name] = scores

The above line populates the student_marks dictionary with the name as the key  and their scores as values.

In [2]:
lst =  []
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
    print (student_marks)

 2
 anish 2 2 2

{'anish': [2.0, 2.0, 2.0]}

 foden 2 3 4

{'anish': [2.0, 2.0, 2.0], 'foden': [2.0, 3.0, 4.0]}

The above code prints out the key as the name and the value as a list of floats using *args.

In [1]:
lst =  []
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
if query_name in student_marks:
    for i in student_marks[query_name]: # take query name as a variable to check in the dictionary.
        print(i)

 2
 foden 2 2 2
 anish 2 3 4
 anish

2.0
3.0
4.0

The above code will print out the marks of a particular student.

Now the math part of the question which is to find the average of list of items.

In [ ]:
lst =  []
n = int(input())
student_marks = {}
total = 0
count = 0
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
if query_name in student_marks:
    for i in student_marks[query_name]:
        total += float(i)
        count = count + 1
    print(float(total/count))

The above takes in additional values of count and total and gives the desired result

But we want our answer for upto 2 decimal places.

In [ ]:
    avg = "%.2f" % avg

If we add the above line we can manipulate the digits after decimal point

## Final Answer

In [ ]:
lst =  []
n = int(input())
student_marks = {}
total = 0
count = 0
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
if query_name in student_marks:
    for i in student_marks[query_name]:
        total += float(i)
        count = count + 1
    avg = float((total/count))
    avg = "%.2f" % avg 
    print(avg)